html,
body {
  height:100%;
}
.welcome {
  width:100%;
  height:100%;
  background-color:#F5822A;
}
.text-desc {
  position:absolute;
  left:50%;
  top:50%;
  width:240px;
  height:100px;
  margin-top:-50px;
  margin-left:-120px;
  color:#fff;
  text-align:center;
}
.op-0 {
  opacity:0;
}
.ui-type {
  width:100%;
  height:40px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  line-height:40px;
  background-color:#F5822A;
}
.ui-type a{
  display:inline-block;
  width:100%;
  color:#fff;
  text-decoration:none;
}
.wraper a {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  border-color:#FFE5B6;
  text-align:center;
  margin:5px 1px;
  color:#333
}
.sub-menu {
  position:absolute;
  display:none;
  top:1200px;
  left:0;
  width:100%;
  height:100%;
  background-color:#fff;
}
