@import 'global.scss';
/* css common use */
img {
  border:none 0;
  vertical-align:top;
}
/* clear */
.clearfix:after {content:'.';display:block;clear:both;visibility:hidden;font:0;height:0}
.cl-b{clear:both;}
/* float */
.f-n {float:none !important}
.f-l {float:left;}
.f-r {float:right;}
/* textIndent */
.ti-999 {text-indent:-999em}
/* display */
.dp-i {display:inline}
.dp-b {display:block}
.dp-ib {display:inline-block}
.dp-tc {display:table-cell; width:2000px;}
.dp-n{display:none}
.dp-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.box-flex-1 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex : 1;
}
/* position */
.pst-r {position:relative}
.pst-a {position:absolute}
.pst-f {position:fixed}
.pst-s {position:static}
/* height:auto */
.ht-a {height:auto;}
/* verticalAlign */
.va-m{vertical-align:middle}
.va-t{vertical-align:top}
.va-b{vertical-align:bottom}
/* textAlign */
.ta-l {text-align:left}
.ta-c{text-align:center}
.ta-r {text-align:right}
.ta-j {text-align:justify}
/* textDecoration */
.td-u{text-decoration:underline;}
.td-n,.td-n:hover,a.td-n:hover,a.td-n:hover{text-decoration:none;}
/* cursor */
.cs-p{cursor:pointer;}
.cs-n{cursor:not-allowed;}
/* overflow */
.of-h{overflow:hidden;}
.of-a{overflow:auto;}
.of-s{overflow:scroll;}
.of-y{overflow-y:scroll;}
.of-x{overflow-x:scroll;}
/* visibility */
.vb-h{visibility:hidden;}
.vb-v{visibility:visible;}
/* fontFamily */
.ff-yh {font-family:'microsoft YaHei',sans-serif}
.ff-st {font-family:'SimSun',sans-serif}
.ff-ht {font-family:'SimHei',sans-serif}
.ff-kt {font-family:'KaTi',sans-serif}
.ff-ktgb {font-family:'KaTi-GB2312',sans-serif}
/* letterSpacing */
.lts-1{letter-spacing:1px}

.lts-6{letter-spacing:6px}
/* fontWeight */
.fw-b {font-weight:bold}
.fw-n {font-weight:normal}
/* fontStyle */
.fs-i {font-style:italic}
.fs-n {font-style:normal}
/* background */
.bg-n {background:none}
.bg-t {background:transparent}
.bg-white {background:#fff !important;}
.bg-red {background:#f00;}
.bg-blue {background:#00f;}
/*border-size*/
.box-size-bb{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.background-size-100{
  -webkit-background-size:100% 100%;
  background-size:100% 100%;
}
/* fontColor */
.c-tb{color:#f27b04}/*orange*/
.c-jd {color:#c00}/*red*/
.c-qq {color:#1f376d}/*deepblue*/
.c-sina {color:#009}/*lightblue*/
.c-sohu {color:#039}/*lightblue*/
.c-163 {color:#1e50a2}/*lightblue*/
.c-za {color:#e7417f}/*pink*/
.c-zab {color:#2c81d6}/*lightblue*/
.c-58 {color:#bebebe}/*lightgrey*/
.c-wt {color:#fff !important;}/*white*/
/*anchor-LVHA*/
a:link,a:visited {color:#333;text-decoration:none}
a:hover{text-decoration:none;color:#333}
a.c-tb:link,a.c-tb:visited{color:#f27b04;text-decoration:none}
a.c-tb:hover{text-decoration:underline}
a.c-jd:link,a.c-jd:visited {color:#c00}
a.c-jd:hover {text-decoration:underline}
a.c-qq:link,a.c-qq:visited{color:#1f376d}
a.c-qq:hover {text-decoration:underline}
a.c-sina:link,a.c-sina:visited {color:#009}
a.c-sina:hover {text-decoration:underline}
a.c-sohu:link,a.c-sohu:visited {color:#039}
a.c-sohu:hover {text-decoration:underline}
a.c-163:link,a.c-163:visited {color:#1e50a2}
a.c-163:hover {text-decoration:underline}
a.c-za:link,a.c-za:visited {color:#e7417f}
a.c-za:hover {text-decoration:underline}
a.c-zab:link,a.c-zab:visited {color:#2c81d6}
a.c-zab:hover {text-decoration:underline}
a.c-58:link,a.c-58:visited {color:#bebebe}
a.c-58:hover {text-decoration:underline}
a.c-wt:link,a.c-wt:visited {color:#fff}
a.c-wt:hover {text-decoration:underline}
/*top*/
.t-1 {top:1px}
.t-2 {top:2px}
.t-3 {top:3px}
.t-n1 {top:-1px}
.t-n2 {top:-2px}
.t-n3 {top:-3px}
/*fontSize*/
.fz-25 {font-size: 25px}
.fz-20 {font-size: 20px}
.fz-18 {font-size: 18px}
.fz-16 {font-size: 16px}
.fz-15 {font-size: 15px}
.fz-14 {font-size: 14px}
.fz-13 {font-size: 13px}
.fz-12 {font-size: 12px}
.fz-10 {font-size: 10px}
/*height and width*/
.w-1000 {width:1000px}
.w-960 {width:960px}
.w-500 {width: 500px}
.w-400 {width: 400px}
.w-350 {width: 350px}
.w-280 {width: 280px}
.w-250 {width: 250px}
.w-200 {width: 200px}
.w-150 {width: 150px}
.w-120 {width: 120px}
.w-100 {width: 100px}
.w-80 {width: 80px}
.w-70 {width: 70px}
.w-60 {width: 60px}
.w-35 {width: 35px}
.w-p100{width:100%}
.w-p99{width:99%}
.w-p90{width:90%}
.w-p80{width:80%}
.w-p70{width:70%}
.w-p50{width:50%}
.w-p40{width:40%}
.w-p33{width:33.3%}
.w-p32{width:32%}
.w-p30{width:30%}
.h-p100 {height:100%}
.h-50 {height:50px;}
.h-60 {height:60px;}
/*center*/
.m-a0 {margin:0 auto}
/*padding and margin*/
.p-a5 {padding:5px}
.p-a2 {padding:2px}
.p-a10 {padding:10px !important;}

.p-a15 {padding:15px}
.p-l5{padding-left:5px}
.p-l10{padding-left:10px}
.p-l15{padding-left:15px}
.p-t5{padding-top:5px}
.p-t10{padding-top:10px}
.p-t12{padding-top:12px}
.p-t15{padding-top:15px}
.p-t50{padding-top:50px}
.p-t80{padding-top:80px}
.p-t2{padding-top:2px}
.p-t3{padding-top:3px}
.p-t4{padding-top:4px}
.p-t5{padding-top:5px}
.p-t8{padding-top:8px}
.p-b10{padding-bottom:10px}
.p-b15{padding-bottom:15px}
.p-b20{padding-bottom:20px}
.p-b30{padding-bottom:30px}
.p-5-0 {padding:5px 0}
.m-l6{margin-left:6px}
.m-l10{margin-left:10px}
.m-l12{margin-left:12px}
.m-l15{margin-left:15px}
.m-l20{margin-left:20px}
.m-r4 {margin-right:4px}
.m-r10 {margin-right:10px}
.m-r12{margin-right:12px}
.m-r15{margin-right:15px}
.m-r20{margin-right:20px}
.m-t2{margin-top:2px}
.m-t5{margin-top:5px}
.m-t7{margin-top:7px}
.m-t9{margin-top:9px}
.m-t10{margin-top:10px}
.m-t20{margin-top:20px}
.m-t40{margin-top:40px}
.m-b0{margin-bottom:0}
.m-b10{margin-bottom:10px}
.m-b10{margin-bottom:10px}
/*rem*/
.m-b-rem2d5 {
  margin-bottom: 2.5rem;
}
.p-t-rem2d5 {
  padding-top: 2.5rem;
}
/*border set*/
.b-d{border:1px solid #ddd}
.b-n{border:none 0;}
/*lineHeight*/
.lh-n {line-height:normal}
.lh-20 {line-height:20px}
.lh-22 {line-height:22px}
.lh-25 {line-height:25px}
.lh-28 {line-height:28px}
.lh-30 {line-height:30px}
/*opacity*/
.op-0{opacity:0}
.op-1{opacity:0.1}
.op-2{opacity:0.2}
.op-3{opacity:0.3}
.op-4{opacity:0.4}
.op-5{opacity:0.5}
.op-6{opacity:0.6}
.op-7{opacity:0.7}
.op-8{opacity:0.8}
.op-9{opacity:0.9}
/*borderRadius*/
.bdrs-3{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.bdrs-5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}

/*********************special css********************/
/* css3 trans */
.trans{-webkit-transition:all 0.3s;transition:all 0.3s;}
.loading{background:url(#{$loadImgSrc}) no-repeat center;}
.layer-bg{top:0px;background-color: rgba(222,222,222,0.5);}
.layerOut{top:20%;}
